h1 {
    background-color: #004175;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px; 
    padding-left: 30px;
    border: 2px solid #89DEEF
}

body {
    font-family: oswald;
}
* {margin: 0;
} 


 ul {
    
     margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px; 
    list-style-type: none;
}
 h2 {
    padding-top: 20px;
    padding-bottom: 20px;
} 

p {
     padding-bottom: 10px;
}
li {
    display: inline-block;
     margin: 3px;
     padding: 2px;
    background-color: #89deef;
    border-radius: 20%;
    
} 
h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    height: 400px;
    width: 400px;
}
.dog {
    display: inline-flex;
    flex-wrap: wrap;
    width: 27%;
    margin: 10px;
} 

h4 {
    color: white;
    font-size: 38px;
}

footer {
    display: flex;
    background-color: #a6a9f0;
    height: 350px;
    margin-top: 30px;
}

.footer1{
    display: flex;
    flex: 1 0 33%;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: stretch;
    background: linear-gradient( 
        rgba(166, 169, 240, 0.8),
        rgba(166, 169, 240, 0.8)), 
        url(starter_files/images/donate.jpg);
}

.footer2{
    display: flex;
    flex: 1 0 33%;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: stretch;
    background: linear-gradient(
        rgba(166, 169, 240, 0.8),
        rgba(166, 169, 240, 0.8)),
        url(starter_files/images/volunteer.jpg)
    }

     .footer3{
        display: flex;
        flex: 1 0 33%;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: stretch;
        background: linear-gradient(
            rgba(166, 169, 240, 0.8)
            rgba(166, 169, 240, 0.8)),
            url(starter_files/images/location.png)
    } 



